@{
    ViewBag.Title = "Home Page";
}

<p>这是 Weixin.Next 示例程序.</p>

<h2>设置</h2>
<p>请按照<a href="@Url.Action("Index", "Weixin")">说明</a>设置好各项参数.</p>

<h2>网页身份验证</h2>

<p>你可以直接<a href="@Url.Action("AuthBase", "Weixin")">获取用户基本信息(openid)</a>, 或在用户授权通过后<a href="@Url.Action("AuthUserInfo", "Weixin")">获取用户完整信息</a>.</p>

<h2>调用 JSSDK</h2>

<p>你可以查看<a href="@Url.Action("JsScan", "Weixin")">JS-SDK 使用范例</a>.</p>
